<a href="https://colab.research.google.com/github/ibrahimshehin2017-sketch/WEBSITE-/blob/main/fds%20pandas%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd
data = {
    'name':['aisha','alfi','rincy','anu'],
    'age':['29','22','20','25'],
    'score':['78','88','78','56']
}
df=pd.DataFrame(data)
print('original data')
display(df)

original data

    name age score
0  aisha  29    78
1   alfi  22    88
2  rincy  20    78
3    anu  25    56

In [15]:
from types import new_class
import pandas as pd
data = {
    'name':['aisha','alfi','rincy','anu'],
    'age':['29','22','23','34'],
    'score':['78','56','67',87]

}
df=pd.DataFrame(data)
print("original data frame")
print (df)
df['Grade']=['A','B','A','B']
new_row=pd.DataFrame([{'name':'eve','age':'22','score':'78','Grade':'A'}
])
df= pd.concat([df,new_row],ignore_index=True)

original data frame
    name age score
0  aisha  29    78
1   alfi  22    56
2  rincy  23    67
3    anu  34    87

In [16]:
display(df)

    name age score Grade
0  aisha  29    78     A
1   alfi  22    56     B
2  rincy  23    67     A
3    anu  34    87     B
4    eve  22    78     A

In [33]:
import pandas as pd
Data = {
        'name':['aaisha','bob','charlie','david'],
        'Age': ['24','27','22','25'],
        'Score': ['85','90','88','76']
        }
df=pd.DataFrame(Data)
#disply the Data frame
print("DataFrame")
print(df)
#adding new coloumns
df['Grade'] = ['A','B','C','A']
new_row = pd.DataFrame([
    {'name':'Eve',
     'Age':'30',
     'Score':'85',
     'Grade':'A'},
{'name':'jeny',
 'Age':'23',
 'Score':'53',
 'Grade':'b'}
    ])
df = pd.concat([df,new_row],ignore_index=True)

DataFrame
      name Age Score
0   aaisha  24    85
1      bob  27    90
2  charlie  22    88
3    david  25    76

In [21]:
display(df)

      name Age Score Grade
0   aaisha  24    85     A
1      bob  27    90     B
2  charlie  22    88     C
3    david  25    76     A
4     jeny  23    53     b

In [32]:
Data = {
        'name':['aaisha','bob','charlie','david'],
        'Age': ['24','27','22','25'],
        'Score': ['85','90','88','76']
        }
df=pd.DataFrame(Data)
#disply the Data frame
print("DataFrame")
print(df)
#adding new coloumns
df['Grade'] = ['A','B','C','A']
new_row = pd.DataFrame([
    {'name':'Eve',
     'Age':'30',
     'Score':'85',
     'Grade':'A'
     }])
print(df)
df = pd.concat([df,new_row],ignore_index=True)
print(df)
df.to_csv('students_data.csv',index=False)
print("Data writtento students_data.csv")

DataFrame
      name Age Score
0   aaisha  24    85
1      bob  27    90
2  charlie  22    88
3    david  25    76
      name Age Score Grade
0   aaisha  24    85     A
1      bob  27    90     B
2  charlie  22    88     C
3    david  25    76     A
      name Age Score Grade
0   aaisha  24    85     A
1      bob  27    90     B
2  charlie  22    88     C
3    david  25    76     A
4      Eve  30    85     A
Data writtento students_data.csv

In [36]:
Data = {
        'name':['aaisha','bob','charlie','david'],
        'Age': ['24','27','22','25'],
        'Score': ['85','90','88','76']
        }
df=pd.DataFrame(Data)
#disply the Data frame
print("DataFrame")
print(df)
#adding new coloumns
df['Grade'] = ['A','B','C','A']
new_row = pd.DataFrame([
    {'name':'Eve',
     'Age':'30',
     'Score':'85',
     'Grade':'A'},

    ])
print(df)
df = pd.concat([df,new_row],ignore_index=True)
print(df)
df.to_excel('students_data.xlsx',index=False)
print("Data writtento students_data.xlsx")

DataFrame
      name Age Score
0   aaisha  24    85
1      bob  27    90
2  charlie  22    88
3    david  25    76
      name Age Score Grade
0   aaisha  24    85     A
1      bob  27    90     B
2  charlie  22    88     C
3    david  25    76     A
      name Age Score Grade
0   aaisha  24    85     A
1      bob  27    90     B
2  charlie  22    88     C
3    david  25    76     A
4      Eve  30    85     A
Data writtento students_data.xlsx

In [38]:
Data = {
        'name':['aaisha','bob','charlie','david'],
        'Age': ['24','27','22','25'],
        'Score': ['85','90','88','76']
        }
df=pd.DataFrame(Data)
#disply the Data frame
print("DataFrame")
print(df)
#adding new coloumns
df['Grade'] = ['A','B','C','A']
new_row = pd.DataFrame([
    {'name':'Eve',
     'Age':'30',
     'Score':'85',
     'Grade':'A'
     }])
print(df)
df = pd.concat([df,new_row],ignore_index=True)
print(df)
df.to_csv('students_data.csv',index=False)
print("Data writtento students_data.csv")

csv_data=pd.read_csv('student_data.csv')
print("Data read from csv file")
print(csv_data)

DataFrame
      name Age Score
0   aaisha  24    85
1      bob  27    90
2  charlie  22    88
3    david  25    76
      name Age Score Grade
0   aaisha  24    85     A
1      bob  27    90     B
2  charlie  22    88     C
3    david  25    76     A
      name Age Score Grade
0   aaisha  24    85     A
1      bob  27    90     B
2  charlie  22    88     C
3    david  25    76     A
4      Eve  30    85     A
Data writtento students_data.csv
Data read from csv file
      name  Age  Score Grade
0   aaisha   24     85     A
1      bob   27     90     B
2  charlie   22     88     C
3    david   25     76     A
4      Eve   30     85     A
5     jeny   23     53     B

In [39]:
Data = {
        'name':['aaisha','bob','charlie','david'],
        'Age': ['24','27','22','25'],
        'Score': ['85','90','88','76']
        }
df=pd.DataFrame(Data)
#disply the Data frame
print("DataFrame")
print(df)
#adding new coloumns
df['Grade'] = ['A','B','C','A']
new_row = pd.DataFrame([
    {'name':'Eve',
     'Age':'30',
     'Score':'85',
     'Grade':'A'},

    ])
print(df)
df = pd.concat([df,new_row],ignore_index=True)
print(df)
df.to_excel('students_data.xlsx',index=False)
print("Data writtento students_data.xlsx")

excel_data=pd.read_excel('students_data.xlsx')
print("data read from excel file")
print(excel_data)

DataFrame
      name Age Score
0   aaisha  24    85
1      bob  27    90
2  charlie  22    88
3    david  25    76
      name Age Score Grade
0   aaisha  24    85     A
1      bob  27    90     B
2  charlie  22    88     C
3    david  25    76     A
      name Age Score Grade
0   aaisha  24    85     A
1      bob  27    90     B
2  charlie  22    88     C
3    david  25    76     A
4      Eve  30    85     A
Data writtento students_data.xlsx
data read from excel file
      name  Age  Score Grade
0   aaisha   24     85     A
1      bob   27     90     B
2  charlie   22     88     C
3    david   25     76     A
4      Eve   30     85     A